*

# Folders count.
!**/

# Relevant python files.
!LIDCArtifactReduction/**/*.py
!sample_FBPPostprocessing/sample_preprocess_FBPPostprocessing.py
!sample_FBPPostprocessing/sample_train_FBPPostprocessing.py
!sample_FBPPostprocessing/sample_predict_FBPPostprocessing.py
!sample_IterativeARTResNet/sample_train_IterativeARTResNet.py
!sample_IterativeARTResNet/sample_preprocess_IterativeARTResNet.py
!sample_GPU_init.py

# External package
!pyronn/**

# Model plots
!model_plots/*

# Pycharm project settings
!.idea/runConfigurations/*
