*

# Folders count.
!**/

# Relevant python files.
!LIDCArtifactReduction/*.py
!preprocess.py
!train.py
!test_preprocess.py

# Model plots
!model_plots/*

# Pycharm project settings
!.idea/runConfigurations/*
