*

# Folders count.
!**/

# Relevant python files.
!LIDCArtifactReduction/*.py
!sample_preprocess.py
!sample_train.py
!sample_predict.py

# External package
!pyronn/**

# Model plots
!model_plots/*

# Pycharm project settings
!.idea/runConfigurations/*
